/*Логотип*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;

  margin-right: 94px;

  @include mq(mobile) {
    font-size: 24px;
  }

  @include mq(desktop) {
    font-size: 26px;
  }

  color: var(--accent-txt-cl);
}

.logo__black {
  color: var(--black-color);
}

.studio-white {
  color: var(--white-color);
}
