.section.team {
  background-color: var(--secondary-bg-color);
}

.section {
  @include mq(mobile-only) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.product {
  display: none;

  @include mq(desktop) {
    display: block;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;


  @include mq(mobile-only) {
    width: 100%;
  }

  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desktop) {
    width: 1200px;
  }

}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(mobile-only) {
      display: flex;
      justify-content: space-between;

    }
}

.navigation__container {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(mobile-only) {
    display: flex;
    justify-content: space-between;
  }
}

.hero-container {
  max-width: 1600px;
}

.portfolio {
  background-color: var(--main-bg-cl);
}

.header {
  position: relative;
}
