.section.team {
  background-color: var(--secondary-bg-color);
}

.section {
  @include mq(mobile-only) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.feature {
  @include mq(desktop) {
    padding-bottom: 0;
  }
}

.section.product {
  display: none;

  @include mq(desktop) {
    display: block;
  }
}
.container {
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(mobile-only) {
      display: flex;
      justify-content: space-between;

    }
}

.navigation__container {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(mobile-only) {
    display: flex;
    justify-content: space-between;
  }
}

.hero-container {
  max-width: 1600px;
}

.portfolio {
  background-color: var(--main-bg-cl);
}

.header {
  position: relative;
}
