/*Footer*/

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: var(--dark-bg-cl);
}

.footer-container {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  @include mq(desktop) {
    flex-wrap: nowrap;
    justify-content: left;
  }
}

.footer .mail,
.footer .phone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
  transition: color var(--cubic-bezier);
}

.list-footer .mail:hover,
.list-footer .mail:focus,
.list-footer .phone:hover,
.list-footer .phone:focus {
  color: var(--accent-txt-cl);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;

  color: var(--white-color);
}

.list-footer {
  list-style: none;

  & .item {
    margin-bottom: 9px;
  }
}

.footer-block {
  @include mq(mobile-only) {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }

  @include mq(tablet-only) {
    width: 232px;
    margin-right: 165px;
    text-align: center;
  }

  @include mq(desktop) {
    text-align: left;
    margin-right: 70px;
  }
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 20px;

  @include mq(mobile-only) {
    text-align: center;
  }
  @include mq(tablet-only) {
    text-align: center;
  }
  @include mq(desktop) {
    text-align: left;
  }

  color: var(--white-color);
}

.footer .join-us {
  @include mq(mobile-only) {
    margin-bottom: 60px;
  }

  @include mq(desktop) {
    text-align: left;
  }
}

.container-sign-up {
  width: 100%;
  text-align: center;

  @include mq(tablet) {
    margin-top: 60px;
  }

  @include mq(desktop) {
    width: auto;
    margin-left: auto;
    text-align: left;
    margin-top: 0;
  }
}

.sign-up {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.sign-up-label {
  @include mq(desktop) {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.form-sign-up {
  @include mq(desktop) {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
  }
}

.sign-up-input {
  @include mq(mobile-only) {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include mq(tablet-only) {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    width: 358px;
    margin-right: 12px;
    margin-left: 0;
  }

  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  background-color: var(--dark-bg-cl);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--cubic-bezier);

  &:hover,
  &:focus {
    border-color: var(--accent-bg-cl);
  }
}

.sign-up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-icon {
  margin-left: 10px;
  fill: var(--white-bg-cl);
}
