/*Секція герой*/

.hero {
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-bg-cl);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg-image/bcg-hero_sm.jpg');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/bg-image/bcg-hero_sm@2x.jpg');
  }

  @include mq(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/bg-image/bcg-hero_md.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/bg-image/bcg-hero_md@2x.jpg');
  }
  @include mq(desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/bg-image/bcg-hero_lg.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/bg-image/bcg-hero_lg@2x.jpg');
  }

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  @include mq(mobile-only) {
    font-size: 26px;
    line-height: 1.62;
  }

     @include mq(tablet-only) {
       font-size: 26px;
       line-height: 1.62;
     }

  @include mq(desktop) {
    font-size: 44px;
    line-height: 1.36;
  }

  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: var(--white-color);
}
